.topnav {
  margin-top: 3%;
  padding-bottom: 1%;
  
}

.navbar {
  float: right;
  
}

.logo {
  float: left;
  font-family: monospace;
}

a {
  padding-left: 20px;
  text-decoration: none;
  color: rgba(165, 141, 141);
}

a:hover {
  color: #dfbfbf;
}

@media screen and (min-width: 530px) {
  .topnav {
    margin: 0 80px;
  }

  
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.active {
    color: #dfbfbf;
  }
  